<%= form_for(@issuance, html: {class: 'form-horizontal'}) do |f| %>
    <% if @issuance.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this issuance from being saved:</h2>
            <ul>
                <% @issuance.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>
            <div class="form-group">
                <label for="issuance[name]" class="col-md-2">Книга</label>
                <div class="col-md-4">
                    <%= f.select :book_id, Book.all.collect {|b| [ b.name, b.id ]}, {include_blank: "Выберите книгу"}, class: 'form-control input-sm', required: 'required' %>
                </div>
            </div>
            <div class="form-group">
                <label for="issuance[name]" class="col-md-2">Абонент</label>
                <div class="col-md-4">
                    <%= f.select :subscriber_id, Subscriber.all.collect {|s| [ fio(s), s.id ]}, {include_blank: "Выберите абонента"}, class: 'form-control input-sm', required: 'required' %>
                </div>
            </div>
            <div class="form-group">
                <label for="issuance[name]" class="col-md-2">Дата выдачи</label>
                <div class="col-md-4">
                    <%= f.date_field :issuance_date, class: 'form-control input-sm' %>
                </div>
            </div>
            <div class="form-group">
                <label for="issuance[name]" class="col-md-2">Дата возврата</label>
                <div class="col-md-4">
                    <%= f.date_field :return_date, class: 'form-control input-sm' %>
                </div>
            </div>
            <br>
            <div class="actions">
                <%= f.submit "Отправить", class: 'btn btn-sm btn-primary' %>
            </div>
            <% end %>
